<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <% @task.errors.full_messages.each do |message| %>
        <div data-alert class="alert-box alert radius">
        <span><%= message %> </span>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'button success radius' %>
  </div>
<% end %>
