<h2>Tasks</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.user.name + " " + task.user.lastname %></td>
        <td>
          <span class="<%= task.state ? 'success' : 'alert'%> round label"><%= task.state ? "Terminada" : "No terminada" %></span>
        </td>
        <td>
          <%= link_to task do %>
            <%= image_tag('show.png') %> Show &nbsp;&nbsp;&nbsp;
          <% end %>
        </td>

        <td>
          <%= link_to edit_task_path(task) do%>
            <%= image_tag('edit.png') %> Edit &nbsp;&nbsp;&nbsp;
          <% end %>
        </td>

        <td>
          <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag('delete.png') %> Destroy &nbsp;&nbsp;&nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_task_path, class: 'button radius tiny' do %>
  <%= image_tag('add.png') %> New Task
<% end %>
