<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.name + " " + @task.user.lastname %>
</p>

<p>
  <strong>State:</strong>
  <span class="<%= @task.state ? 'success' : 'alert'%> round label"><%= @task.state ? "Terminada" : "No terminada" %></span>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
