<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.name + " " + @task.user.lastname %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state ? "Terminada" : "No terminada" %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
